<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title><%= title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'main', :media => 'screen' %>
</head>
<body>
<div id="main">
  <%= render 'layouts/header' %>
  <% if signed_in? %>
    <%= render 'layouts/menu_user' %>
  <% else %>
    <%= render 'layouts/menu_home' %>
  <% end %>
  <div id="content_container">
  <div id="content_padding">
  <div id="content">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div><!-- End Div id="content" -->
  </div><!-- End Div id="content_padding" -->
  </div><!-- End Div id="content_container" -->
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div><!-- End Div id="main" -->
</body>
</html>
